* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar_container {
  background: #fff;
  display: flex;
}
nav {
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  background: #fffae6;
  width: 500px;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 5px;
}
.navcontent_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.number_nav {
  background-color: #ff8a00;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 5px;
}
.text_nav {
  margin-right: 15px;
  color: #ff8a00;
}
.arrow_nav {
  margin-right: 5px;
  color: #ff8a00;
}
/* #nav2, #nav3
    background-color #ffe4b8
    color  #ff8a00
 */
body {
  background-color: #fffae6;
  margin-top: 50px;
}
.body_container {
  background-color: #fff;
  margin: 0px 50px 0px 50px;
  box-shadow: 0px 4px 3px #eee;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
}
.page_container {
  display: flex;
}
.Finish_Details {
  padding: 40px 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FD_body_title {
  color: #ff8a00;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 5px 2px #eee;
}
.FD_upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shipment_details_Container {
  display: flex;
  flex-direction: row;
  color: #808080;
  font-weight: bold;
  font-size: large;
}
.shipment_details {
  display: flex;
  margin-left: 5px;
}
.previous_homepage {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #000;
}
.order_Id_Container {
  margin-bottom: 5px;
  display: flex;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.FD_Body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.Summary {
  display: flex;
  padding: 40px 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}
.Summary_upper_container {
  flex-direction: column;
  margin-bottom: 25px;
}
.Sm_Body_title {
  color: #ff8a00;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 10px;
}
.Summary_deliv_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.sm_deliv_detail {
  display: flex;
  flex-direction: row;
  color: #41df91;
  font-weight: bold;
}
.Sm_deliv_title {
  color: #000;
  font-weight: bold;
}
.Summary_payment_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.sm_payment_detail {
  display: flex;
  flex-direction: row;
  color: #41df91;
  font-weight: bold;
}
.Sm_payment_title {
  color: #000;
  font-weight: bold;
}
.total_item {
  color: #808080;
}
.CostOfGoods_container {
  color: #808080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cog_value {
  color: #000;
  font-weight: bold;
}
.Dropshipping_fee_container {
  color: #808080;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  margin-bottom: 15px;
}
.df_value {
  color: #000;
  font-weight: bold;
}
.Shipment_fee_container {
  color: #808080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  margin-bottom: 15px;
}
.shipment_method_box {
  display: flex;
}
.shipment_method {
  font-weight: bold;
}
.shipment_value {
  color: #000;
  font-weight: bold;
}
.total_price_container {
  color: #808080;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.tp_text {
  color: #ff8a00;
  font-size: larger;
  font-weight: bolder;
}
.tp_value {
  color: #ff8a00;
  font-size: larger;
  font-weight: bolder;
}
@media screen and (max-width: 1023px) {
  .page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .DD_Body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .DD_Body_User {
    width: 80%;
    margin-right: 0px;
  }
  .DD_Body_Dropshiper {
    width: 80%;
  }
  .SD_upper_container {
    justify-content: center;
  }
  .PD_upper_container {
    justify-content: center;
  }
  .order_Id_Container {
    justify-content: center;
  }
  .Sm_Body_title {
    display: flex;
    justify-content: center;
  }
}
